.slideshow {
  position: relative;
  margin: auto;
  max-width: 1000px;
  &Item {
    display: none;
    &Fade {
      animation-duration: 2.5s;
      animation-name: fade;
    }
  }

  &Number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  &Image {
    width: 100%;
  }

  &Text {
    bottom: 8px;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

@keyframes fade {
  0% {
    opacity: .33;
  }

  100% {
    opacity: 1;
  }
}
