<div class="slideshow">

  <div data-slideshow class="slideshow-item slideshow-item--fade_in">
    <div class="slideshow-number">1 / 3</div>
    <img src="a.svg" alt="A" class="slideshow-image">
    <div class="slideshow-text">Caption Text</div>
  </div>

  <div data-slideshow class="slideshow-item slideshow-item--fade_in">
    <div class="slideshow-number">2 / 3</div>
    <img src="b.svg" alt="B" class="slideshow-image">
    <div class="slideshow-text">Caption Two</div>
  </div>

  <div data-slideshow class="slideshow-item slideshow-item--fade_in">
    <div class="slideshow-number">3 / 3</div>
    <img src="c.svg" alt="C" class="slideshow-image">
    <div class="slideshow-text">Caption Three</div>
  </div>

</div>
