<div class="mdc-layout-grid">
  <table id="users-table" class="md-table">
    <thead>
      <tr>
        <th colspan="4">
          <div class="mdc-text-field">
            <input type="text" id="search" class="mdc-text-field__input">
            <label for="search-name" class="mdc-text-field__label">Search</label>
          </div>

          <!-- <div class="mdc-text-field">
            <input type="text" id="search-name" class="mdc-text-field__input">
            <label for="search-name" class="mdc-text-field__label">Name</label>
          </div>

          <div class="mdc-text-field">
            <input type="text" id="search-email" class="mdc-text-field__input">
            <label for="search-name" class="mdc-text-field__label">Email</label>
          </div>

          <div class="mdc-text-field">
            <input type="text" id="search-message" class="mdc-text-field__input">
            <label for="search-name" class="mdc-text-field__label">Message</label>
          </div> -->

          <!-- <button type="button" class="mdc-button mdc-button--accent">Search</button> -->
        </th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% snapshot.forEach(function (childSnapshot) { %>
        <tr>
          <td><%- childSnapshot.data().name %></td>
          <td><%- childSnapshot.data().email %></td>
          <td><%- childSnapshot.data().message %></td>
          <td>
            <button type="button" class="mdc-button"
              data-edit="<%- childSnapshot.id %>"
              data-edit-name="<%- childSnapshot.data().name %>"
              data-edit-email="<%- childSnapshot.data().email %>"
              data-edit-message="<%- childSnapshot.data().message %>"
            >
              Edit
            </button>
            <button type="button" class="mdc-button mdc-theme--secondary"
              data-delete="<%- childSnapshot.id %>"
            >
              Delete
            </button>
          </td>
        </tr>
      <% }); %>
    </tbody>
    <!-- <tfoot>
      <tr>
        <td colspan="4">
          <span>Page: 1</span>
          <span>Rows per page: 10</span>
          <span>1 - 10 of 9453</span>
          <button type="button" class="mdc-button mdc-button--accent" id="prev-page">Previous</button>
          <button type="button" class="mdc-button mdc-button--accent" id="next-page">Next</button>
        </td>
      </tr>
    </tfoot> -->
  </table>
</div>

<aside id="dialog-edit" class="mdc-dialog">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 class="mdc-dialog__header__title">Edit</h2>
    </header>

    <section class="mdc-dialog__body">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell">
            <div class="mdc-text-field">
              <label class="mdc-text-field__label" for="name">Name</label>
              <input type="text" class="mdc-text-field__input" id="edit-name" value=" ">
            </div>

            <div class="mdc-text-field">
              <label class="mdc-text-field__label" for="email">Email</label>
              <input type="text" class="mdc-text-field__input" id="edit-email" value=" ">
            </div>

            <div class="mdc-text-field">
              <label class="mdc-text-field__label" for="message">Message</label>
              <input type="text" class="mdc-text-field__input" id="edit-message" value=" ">
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="mdc-dialog__footer">
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
      <button type="button" id="edit-save" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Save</button>
    </footer>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>

<aside id="dialog-delete" class="mdc-dialog">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 class="mdc-dialog__header__title">Delete</h2>
    </header>
    <section class="mdc-dialog__body">
      Are you sure you want to delete it?
    </section>
    <footer class="mdc-dialog__footer">
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
      <button type="button" id="delete-confirm" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Confirm</button>
    </footer>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>
