<include src="./src/pages/examples/_includes/location.html" />

<div style="padding: 1rem">
  <button type="button" name="button" id="search-button" class="mdc-button mdc-button--raised">Search</button>

  <div class="mdc-elevation--z2" style="margin: 1rem 0">
    <div style="padding: 1rem 0 0 1rem">Total: <%= store.total %></div>
    <ul class="mdc-list mdc-list--dense">
      <% [].forEach.call(store.list, function (item) { %>
        <li class="mdc-list-item">
          <span style="margin-right: .75rem"><%- item.text %></span>
          <button type="button" name="button" class="mdc-button mdc-theme--secondary" style="margin-right: .75rem">Delete</button>
          <button type="button" name="button" class="mdc-button">Edit</button>
        </li>
      <% }); %>
    </ul>
  </div>
</div>

<aside class="<%= style.progress %>" style="display: <%= store.progress %>">
  <h1>Loading...</h1>
</aside>
