<div class="mdl-grid" style="justify-content: center">
  <h2 class="mdl-color-text--blue-900"><%= ABOUT %></h2>
</div>

<div class="mdl-grid" style="justify-content: center">
  <div class="mdl-cell mdl-cell--5-col">
    <ul class="demo-list-item mdl-list mdl-shadow--2dp">
      <li class="mdl-list__item">
        <b class="mdl-list__item-primary-content">
          <%= LIST.TITLE %>
        </b>
      </li>
      <% for (let item of LIST.ITEM.entries()) { %>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content"><%- item[0] + 1 %>. <%- item[1] %></span>
        </li>
      <% } %>
    </ul>
  </div>
</div>

<div class="mdl-grid" style="justify-content: center">
  <div class="mdl-cell mdl-cell--6-col">
    <canvas id="js-bar-chart"></canvas>
  </div>
</div>

<div class="mdl-grid" style="justify-content: center">
  <div class="mdl-cell mdl-cell--4-col">
    <canvas id="skill-radar-chart"></canvas>
  </div>
</div>
