<div class="mdl-grid mdl-grid--center">
  <h2 class="mdl-color-text--blue-900">${ ABOUT }</h2>
</div>

<div class="mdl-grid mdl-grid--center">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">${ LIST.TITLE }</th>
      </tr>
    </thead>
    <tbody>
      <% [].forEach.call(LIST.ITEM, function(item, index) { %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%- ++index %>. <%- item %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
