{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true,
    "jasmine": true,
    "protractor": true
  },
  "globals": {
    "componentHandler": true,
    "firebase": true,
    "page": true,
    "webdriver": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // Possible Errors
    "no-console": "off",

    // Best Practices
    "no-alert": "error",
    "no-caller": "error",

    // Variables

    // Node.js and CommonJS
    "callback-return": "error",

    // Stylistic Issues

    // JS.Next
    "arrow-spacing": ["error"],
    "no-useless-constructor": "error",
    "no-var": "error",
    "prefer-template": "error",
    "symbol-description": "error",
    "template-curly-spacing": ["error", "never"],
    "yield-star-spacing": ["error", "after"]
  }
}
