{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "componentHandler": true,
    "page": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  }
}
