{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true,
    "jasmine": true,
    "protractor": true
  },
  "globals": {
    "componentHandler": true,
    "firebase": true,
    "page": true,
    "Chart": true,
    "webdriver": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  }
}
