{
  "extends": "stylelint-config-makotot",
  "rules": {
    "string-quotes": [2, "single"],
    "color-hex-case": [2, "lower"],
    "color-hex-length": [2, "long"],
    "color-no-invalid-hex": [2],
    "number-leading-zero": [2, "always"],
    "number-max-precision": [2, 2],
    "number-no-trailing-zeros": [2],
    "number-zero-length-no-unit": [2],
    "function-calc-no-unspaced-operator": [2],
    "function-comma-newline-after": [2, "never-multi-line"],
    "function-comma-newline-before": [2, "never-multi-line"],
    "function-comma-space-after": [2, "always"],
    "function-comma-space-before": [2, "never"],
    "function-linear-gradient-no-nonstandard-direction": [2],
    "function-parentheses-space-inside": [2, "never"],
    "function-space-after": [2, "always"],
    "function-url-quotes": [2, "none"],
    "value-no-vendor-prefix": [2],
    "value-list-comma-newline-after": [2, "never-multi-line"],
    "value-list-comma-newline-before": [2, "never-multi-line"],
    "value-list-comma-space-after": [2, "always"],
    "value-list-comma-space-before": [2, "never"],
    "property-blacklist": [2, ["text-rendering"]],
    "property-no-vendor-prefix": [2],
    "property-whitelist": [2, ["display"]],
    "custom-property-no-outside-root": [2],
    "custom-property-pattern": [2, "/foo-.+/"],
    "declaration-bang-space-after": [2, "never"],
    "declaration-bang-space-before": [2, "always"],
    "declaration-colon-newline-after": [2, "always-multi-line"],
    "declaration-colon-space-after": [2, "always"],
    "declaration-colon-space-before": [2, "never"],
    "declaration-no-important": [2],
    "declaration-block-semicolon-newline-after": [2, "always-multi-line"],
    "declaration-block-semicolon-newline-before": [2, "never-multi-line"],
    "declaration-block-semicolon-space-after": [2, "always"],
    "declaration-block-semicolon-space-before": [2, "never"],
    "nesting-block-opening-brace-newline-before": [2, "always-multi-line"],
    "nesting-block-opening-brace-space-before": [2, "never"],
    "block-closing-brace-newline-after": [2, "always"],
    "block-closing-brace-newline-before": [2, "always"],
    "block-closing-brace-space-after": [2, "always"],
    "block-closing-brace-space-before": [2, "never"],
    "block-no-empty": [2],
    "block-opening-brace-newline-after": [2, "always"],
    "block-opening-brace-newline-before": [2, "always-multi-line"],
    "block-opening-brace-space-after": [2, "never-single-line"],
    "block-opening-brace-space-before": [2, "always"],
    "selector-combinator-space-after": [2, "always"],
    "selector-combinator-space-before": [2, "always"],
    "selector-no-attribute": [2],
    "selector-no-combinator": [2],
    "selector-no-id": [2],
    "selector-no-type": [2],
    "selector-no-universal": [2],
    "selector-no-vendor-prefix": [2],
    "selector-pseudo-element-colon-notation": [2, "double"],
    "selector-root-no-composition": [2],
    "selector-list-comma-newline-after": [2, "always-multi-line"],
    "selector-list-comma-newline-before": [2, "never-multi-line"],
    "selector-list-comma-space-after": [2, "always-single-line"],
    "selector-list-comma-space-before": [2, "never"],
    "rule-nested-empty-line-before": [2, "always"],
    "rule-no-duplicate-properties": [2],
    "rule-no-shorthand-property-overrides": [2],
    "rule-no-single-line": [2],
    "rule-non-nested-empty-line-before": [2, "always"],
    "rule-properties-order": [2, "alphabetical"],
    "rule-trailing-semicolon": [2, "always"],
    "root-no-standard-properties": [2],
    "media-feature-colon-space-after": [2, "always"],
    "media-feature-colon-space-before": [2, "never"],
    "media-feature-name-no-vendor-prefix": [2],
    "media-feature-range-operator-space-after": [2, "always"],
    "media-feature-range-operator-space-before": [2, "always"],
    "custom-media-pattern": [2, "/foo-.+/"],
    "media-query-parentheses-space-inside": [2, "never"],
    "media-query-list-comma-newline-after": [2, "never-multi-line"],
    "media-query-list-comma-newline-before": [2, "never-multi-line"],
    "media-query-list-comma-space-after": [2, "always-single-line"],
    "media-query-list-comma-space-before": [2, "never"],
    "at-rule-empty-line-before": [2, "always"],
    "at-rule-no-vendor-prefix": [2],
    "comment-empty-line-before": [2, "always"],
    "comment-space-inside": [2, "always"],
    "indentation": [2, 2],
    "no-eol-whitespace": [2],
    "no-missing-eof-newline": [2],
    "no-multiple-empty-lines": [2]
  }
}
