{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-closing-brace-empty-line-before": null,
    "color-hex-case": null,
    "color-hex-length": null,
    "declaration-empty-line-before": null,
    "no-empty-source": null,
    "no-extra-semicolons": null,
    "no-invalid-double-slash-comments": null,
    "number-leading-zero": "never",
    "property-no-unknown": null,
    "rule-nested-empty-line-before": null,
    "selector-pseudo-class-no-unknown": null
  }
}
