<nav class="mdc-drawer mdc-drawer--temporary <%= style.drawer %>" data-mobile style="z-index: 10">
  <div class="mdc-drawer__drawer">
    <header class="mdc-drawer__header">
      <div class="mdc-drawer__header-content mdc-theme--text-primary-on-primary mdc-theme--primary-bg">
        <%= TITLE %>
      </div>
    </header>

    <div class="mdc-drawer__content mdc-list-group" id="mobile-menu">
      <nav class="mdc-list">
        <a class="mdc-list-item" onclick="page.redirect('<%= LINK[0][0] %>'); document.body.style.overflowY = 'auto'">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
          <%= LINK[0][1] %>
        </a>
        <a class="mdc-list-item" onclick="page.redirect('<%= LINK[1][0] %>'); document.body.style.overflowY = 'auto'">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">info</i>
          <%= LINK[1][1] %>
        </a>
        <a class="mdc-list-item" onclick="page.redirect('<%= LINK[2][0] %>'); document.body.style.overflowY = 'auto'">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">contacts</i>
          <%= LINK[2][1] %>
        </a>
      </nav>

      <hr class="mdc-list-divider">

      <nav class="mdc-list">
        <a class="mdc-list-item" onclick="page.redirect('/examples'); document.body.style.overflowY = 'auto'">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">code</i>
          Examples
        </a>
        <a class="mdc-list-item" onclick="page.redirect('/admin'); document.body.style.overflowY = 'auto'">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">verified_user</i>
          Admin
        </a>
      </nav>
    </div>
  </div>
</nav>
