.progress {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(225, 225, 255, .7);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #3F51B5;
}
