<div class="mdl-grid mdl-grid--center">
  <h2 class="mdl-color-text--blue-900"><%= CONTACT %></h2>
</div>

<div class="mdl-grid mdl-grid--center">
  <button id="sign-in-button" class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary">
    <i class="material-icons">account_circle</i> <%= ACCOUNT.SIGN_IN_BUTTON %>
  </button>

  <button id="sign-out-button" class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary">
    <i class="material-icons">account_circle</i> <%= ACCOUNT.SIGN_OUT_BUTTON %>
  </button>
</div>

<div id="content" class="mdl-grid mdl-grid--center">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="username" value="Google Display Name" readonly>
          <label class="mdl-textfield__label" for="username"><%= NAME %></label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="useremail" value="Google Email" readonly>
          <label class="mdl-textfield__label" for="useremail"><%= EMAIL %></label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" type="text" rows= "3" id="content-text"></textarea>
          <label class="mdl-textfield__label" for="content-text"><%= COMMENT %></label>
        </div>
        <div class="mdl-textfield">
          <div id="contact-image"></div>
        </div>
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border mdl-cell--right">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        <%= SEND %> <i class="material-icons">send</i>
      </button>
    </div>
  </div>
</div>
