.foo {
  background: pink;
  padding: 1rem;
}

.bar {
  background: #FFC107;
  padding: 3rem;
}

/* or
:local {
  .foo {
    background: pink;
    padding: 1rem;
  }
  .bar {
    background: #FFC107;
    padding: 3rem;
  }
}
*/
