.title {
  color: var(--mdc-theme-primary);
  text-align: center;
}

.card {
  max-width: 23rem;
  margin: 1rem;

  &__media {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 12.313rem;
  }

  &__title {
    color: #E8EAF6;
  }
}
