<mixin name="links">
  <each loop="item in LINK">
    <a class="mdl-navigation__link" href="{{ item[0] }}">{{ item[1] }}</a>
  </each>
</mixin>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">${ _.TITLE }</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <mixin name="links"></mixin>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">${ _.TITLE }</span>
    <nav class="mdl-navigation">
      <mixin name="links"></mixin>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div id="page"></div>
  </main>
</div>
