<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"><%= TITLE %></span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <% const iterable = new Map([['/', 'Home'], ['/about', 'About']]); %>
        <% for (let [key, value] of iterable) { %>
          <a class="mdl-navigation__link" href="<%- key %>"><%- value %></a>
        <% } %>
      </nav>
      <button id="menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">language</i>
      </button>
      <div class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-lower-right">
        <a href="/" class="mdl-menu__item">English</a>
        <a href="/zh" class="mdl-menu__item">中文</a>
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><%= TITLE %></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="<%= LINK_HREF %>"><%= LINK_NAME %></a>
      <a class="mdl-navigation__link" href="/about"><%= LINK_2 %></a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div id="page"></div>
  </main>
</div>
