.header {
  &__menu {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  &__title {
    margin-left: 1rem;
  }
}

.layout {
  display: flex;
  height: 100%;
  box-sizing: border-box;

  &__drawer[data-mobile] {
    @media (min-width: 600px) {
      display: none;
    }
  }

  &__drawer[data-desktop] {
    position: fixed;
    overflow: auto;
    height: calc(100% - 64px);
    transition: margin-left .33s;

    @media (max-width: 599px) {
      display: none;
    }
  }

  &__content {
    margin-left: 240px;
    transition: margin-left 1s;
    width: 100%;

    @media (max-width: 599px) {
      margin-left: 0;
    }
  }
}

.js {
  &__contentAction {
    margin-left: 0;
  }

  &__drawerAction {
    margin-left: -240px;
  }
}

.footer {
  margin: 16px 0 0;
  padding: 16px 40px;
  color: #9E9E9E;
  background-color: #424242;

  &__link {
    color: #FFFFFF;
    text-decoration: none;
  }

  &__section {
    flex: 1;
    padding: .5rem;
  }
}
