<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"><%= TITLE %></span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <% [].forEach.call(LINK, function(item) { %>
          <a class="mdl-navigation__link" href="<%- item[0] %>"><%- item[1] %></a>
        <% }); %>
      </nav>
      <button id="language" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">language</i>
      </button>
      <div class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="language">
        <% var languages = [["en", "English"], ["zh", "中文"]]; %>
        <% [].forEach.call(languages, function(item) { %>
          <a href="javascript:void 0" id="<%- item[0] %>" class="mdl-menu__item"><%- item[1] %></a>
        <% }); %>
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><%= TITLE %></span>
    <nav class="mdl-navigation">
      <% [].forEach.call(LINK, function(item) { %>
        <a class="mdl-navigation__link" href="<%- item[0] %>"><%- item[1] %></a>
      <% }); %>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div id="page"></div>
    <div class="<%= style.bottomBlank %>"></div>
  </main>
</div>
