.menu {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  margin-left: 1rem;
}

.desktop {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.content {
  padding-bottom: 2rem;
}

main {
  padding-left: 1rem;
  margin-left: 240px;
  transition: margin-left 1s;
}
