@import '../../styles/root.css';

.File_Upload {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + label {
    cursor: pointer;
    display: inline-block;
    max-width: 75%;
    overflow: hidden;
    padding: .5rem;
    text-overflow: ellipsis;
    transition: color .5s;
    white-space: nowrap;

    & > i {
      vertical-align: -.4rem;
    }
  }

  &:focus + label,
  & + label:hover {
    color: var(--primary);
  }
}
