@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:global {
  & .mdl-grid--center {
    justify-content: center;
  }
  & .mdl-cell--center {
    text-align: center;
  }
  & .mdl-cell--right {
    text-align: right;
  }
}
