<div class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <div class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <% if (store.location) { %>
        <a href="javascript: void 0" class="mdc-toolbar__menu-icon">
          <i class="material-icons">toys</i>
        </a>
      <% } else { %>
        <a href="javascript: history.back()" class="mdc-toolbar__menu-icon">
          <i class="material-icons">arrow_back</i>
        </a>
      <% } %>

      <span class="mdc-toolbar__title">Examples</span>
    </div>
  </div>
</div>

<div style="padding: 32px"></div>
