<include src="./src/pages/examples/_includes/location-back.html" />

<div style="margin: 1rem">
  <div class="mdc-textfield" style="margin-right: .5rem">
    <input type="text" id="add-primary" class="mdc-textfield__input">
    <label class="mdc-textfield__label" for="primary">Primary</label>
  </div>
  <div class="mdc-textfield" style="margin-right: .5rem">
    <input type="text" id="add-accent" class="mdc-textfield__input">
    <label class="mdc-textfield__label" for="accent">Accent</label>
  </div>
  <button type="button" name="button" id="add-button" class="mdc-button mdc-button--raised">Add</button>
</div>

<div style="margin: 1rem">
  <div class="mdc-textfield" style="margin-right: .5rem">
    <input type="text" id="search-primary" class="mdc-textfield__input">
    <label class="mdc-textfield__label" for="primary">Primary</label>
  </div>
  <div class="mdc-textfield" style="margin-right: .5rem">
    <input type="text" id="search-accent" class="mdc-textfield__input">
    <label class="mdc-textfield__label" for="accent">Accent</label>
  </div>
  <button type="button" name="button" id="search-button" class="mdc-button mdc-button--raised">Search</button>
</div>

<div>
  <ul class="mdc-list mdc-list--dense mdc-elevation--z2">
    <% [].forEach.call(store.dataset, function(item) { %>
      <li class="mdc-list-item"><%- item.primary %> - <%- item.accent %></li>
    <% }); %>
  </ul>
</div>
