<nav class="mdc-drawer mdc-drawer--permanent demo-drawer <%= style.drawer %>" data-desktop>
  <div class="mdc-list-group">
    <nav class="mdc-list">
      <a class="mdc-list-item" href="<%= LINK[0][0] %>">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
        <%= LINK[0][1] %>
      </a>
      <a class="mdc-list-item" href="<%= LINK[1][0] %>">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">info</i>
        <%= LINK[1][1] %>
      </a>
      <a class="mdc-list-item" href="<%= LINK[2][0] %>">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">contacts</i>
        <%= LINK[2][1] %>
      </a>
    </nav>

    <hr class="mdc-list-divider">

    <nav class="mdc-list">
      <a class="mdc-list-item" href="/examples">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">code</i>
        Examples
      </a>
      <a class="mdc-list-item" href="/admin">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">verified_user</i>
        Admin
      </a>
    </nav>
  </div>
</nav>
