<include src="./src/pages/examples/_includes/location.html" />

<div style="padding: 1rem">
  <div class="">
    <a href="<%= pathname %>/crud" class="mdc-button mdc-button--raised" style="margin-right: .5rem">CRUD</a>
    <a href="<%= pathname %>/rest" class="mdc-button mdc-button--raised" style="margin-right: .5rem">REST</a>
    <a href="<%= pathname %>/graphql" class="mdc-button mdc-button--raised" style="margin-right: .5rem">GraphQL</a>
  </div>

  <br>

  <div class="">
    <a href="<%= pathname %>/data-chart" class="mdc-button mdc-button--raised" style="margin-right: .5rem">Data Chart</a>
  </div>

  <br>

  <div class="">
    <a href="<%= pathname %>/playground" class="mdc-button mdc-button--raised" style="margin-right: .5rem">Playground</a>
  </div>
</div>
