:global {
  & .mdc-layout--center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  & .mdc-cell {
    &--column {
      flex-direction: column;
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }

  & .mdc-permanent-drawer[data-desktop] {
    position: fixed;
    overflow: auto;
    height: calc(100% - 64px);
    transition: margin-left .33s;
  }

  & .drawer-action {
    margin-left: -240px;
  }

  & .main-action {
    margin-left: 0;
  }
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}
