:global {
  & .mdc-layout--center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  & .mdc-cell {
    &--column {
      flex-direction: column;
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}
