:root {
  // Purple
  --purple-50: #F3E5F5;
  --purple-400: #AB47BC;
  --colored-theme: {
    color: var(--purple-50);
    background: var(--purple-400);
    &:hover {
      background: var(--purple-400);
    }
    & .mdl-ripple {
      background: var(--purple-50);
    }
  };

  // Deep Purple
  --deep-purple-50: #EDE7F6;
  --deep-purple-400: #7E57C2;
  --accent-theme: {
    color: var(--deep-purple-50);
    background: var(--deep-purple-400);
    &:hover {
      background: var(--deep-purple-400);
    }
    & .mdl-ripple {
      background: var(--deep-purple-50);
    }
  };
}

.mdl-button--colored-p {
  @apply --colored-theme;
}

.mdl-button--accent-dp {
  @apply --accent-theme;
}
