:global {
  html {
    height: 100%;
  }

  body {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
    background: #FAFAFA;
  }

  .flexbox {
    display: flex;

    &--row {
      flex-flow: row wrap;
    }

    &--column {
      flex-flow: column wrap;
    }

    &--center {
      justify-content: center;
      text-align: center;
    }
  }

  .md-table {
    border-collapse: collapse;
    white-space: nowrap;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    width: 100%;
    text-align: center;

    & th,
    & td {
      padding: 8px 16px;
    }

    & th {
      border-top: 1px solid rgba(0, 0, 0, .1);
      border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    & td {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    & tbody tr {
      transition-duration: .28s;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-property: background-color;
    }

    & tbody tr:hover {
      background-color: #EEEEEE;
    }
  }
}
