:root {
  --mdc-theme-background: #fff;
  --mdc-theme-primary: #3F51B5;
  --mdc-theme-primary-dark: #8936ff;
  --mdc-theme-primary-light: #b37eff;
  --mdc-theme-secondary: #E91E63;
  --mdc-theme-secondary-dark: #004040;
  --mdc-theme-secondary-light: #02cecc;
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, .38);
  --mdc-theme-text-disabled-on-dark: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, .38);
  --mdc-theme-text-disabled-on-primary: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-disabled-on-primary-dark: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-disabled-on-primary-light: rgba(0, 0, 0, .38);
  --mdc-theme-text-disabled-on-secondary: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-disabled-on-secondary-dark: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-disabled-on-secondary-light: rgba(0, 0, 0, .38);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, .38);
  --mdc-theme-text-hint-on-dark: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, .38);
  --mdc-theme-text-hint-on-primary: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-hint-on-primary-dark: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-hint-on-primary-light: rgba(0, 0, 0, .38);
  --mdc-theme-text-hint-on-secondary: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-hint-on-secondary-dark: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-hint-on-secondary-light: rgba(0, 0, 0, .38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, .38);
  --mdc-theme-text-icon-on-dark: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, .38);
  --mdc-theme-text-icon-on-primary: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-icon-on-primary-dark: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-icon-on-primary-light: rgba(0, 0, 0, .38);
  --mdc-theme-text-icon-on-secondary: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-icon-on-secondary-dark: hsla(0, 0%, 100%, .5);
  --mdc-theme-text-icon-on-secondary-light: rgba(0, 0, 0, .38);
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, .87);
  --mdc-theme-text-primary-on-dark: #fff;
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, .87);
  --mdc-theme-text-primary-on-primary: #fff;
  --mdc-theme-text-primary-on-primary-dark: #fff;
  --mdc-theme-text-primary-on-primary-light: rgba(0, 0, 0, .87);
  --mdc-theme-text-primary-on-secondary: #fff;
  --mdc-theme-text-primary-on-secondary-dark: #fff;
  --mdc-theme-text-primary-on-secondary-light: rgba(0, 0, 0, .87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, .54);
  --mdc-theme-text-secondary-on-dark: hsla(0, 0%, 100%, .7);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, .54);
  --mdc-theme-text-secondary-on-primary: hsla(0, 0%, 100%, .7);
  --mdc-theme-text-secondary-on-primary-dark: hsla(0, 0%, 100%, .7);
  --mdc-theme-text-secondary-on-primary-light: rgba(0, 0, 0, .54);
  --mdc-theme-text-secondary-on-secondary: hsla(0, 0%, 100%, .7);
  --mdc-theme-text-secondary-on-secondary-dark: hsla(0, 0%, 100%, .7);
  --mdc-theme-text-secondary-on-secondary-light: rgba(0, 0, 0, .54);
}
