.layout {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
}

.drawer[data-mobile] {
  @media (min-width: 600px) {
    display: none;
  }
}

.drawer[data-desktop] {
  position: fixed;
  overflow-y: auto;
  height: calc(100% - 64px);
  transition: margin-left .33s;

  @media (max-width: 599px) {
    display: none;
  }
}

.link {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.main {
  margin-left: 240px;
  transition: margin-left 1s;
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;

  @media (max-width: 599px) {
    margin-left: 0;
  }
}

.content {
  flex: 1 0 auto;
}

.jsMain {
  margin-left: 0;
}

.jsDrawer {
  margin-left: -240px;
}

.footer {
  margin: 3rem 0 0;
  padding: 1rem;
  color: #FFFFFF;
  background: #1A237E;

  &-list {
    list-style-type: none;
    padding: 0 0 1.5rem .75rem;
    margin: -.75rem 0 0;
  }

  &-link {
    color: #FFFFFF;
    text-decoration: none;
  }
}
