.layout {
  display: flex;
  height: 100%;
  box-sizing: border-box;

  &__drawer[data-mobile] {
    @media (min-width: 600px) {
      display: none;
    }
  }

  &__drawer[data-desktop] {
    position: fixed;
    overflow: auto;
    height: calc(100% - 64px);
    transition: margin-left .33s;

    @media (max-width: 599px) {
      display: none;
    }
  }

  &__link {
    padding: 0 16px;
    display: flex;
    align-items: center;
  }

  &__content {
    margin-left: 240px;
    transition: margin-left 1s;
    width: 100%;

    @media (max-width: 599px) {
      margin-left: 0;
    }
  }
}

.js {
  &__contentAction {
    margin-left: 0;
  }

  &__drawerAction {
    margin-left: -240px;
  }
}

.footer {
  margin: 48px 0 0;
  padding: 16px 40px;
  color: #FFFFFF;
  background: #1A237E;

  &__list {
    list-style-type: none;
    padding: 0 0 1.5rem .75rem;
    margin: -.75rem 0 0;
  }

  &__link {
    color: #FFFFFF;
    text-decoration: none;
  }
}
