<header class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <a href="javascript: history.back()" class="mdc-toolbar__menu-icon">
        <i class="material-icons">arrow_back</i>
      </a>
      <span class="mdc-toolbar__title">Admin</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
      <button type="button" aria-label="Sign Out" id="admin-sign-out" class="mdc-button" data-sign-in style="color: #FFFFFF; margin: 0 16px 0">
        <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle">
          <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
        Sign out
      </button>
    </section>
  </div>
</header>

<div class="mdc-toolbar-fixed-adjust">
  <section id="sign-out-content" class="mdc-layout-grid <%= style.signIn %>" data-sign-out>
    <div class="mdc-elevation--z2" style="width: 275px; margin-top: 100px; background: #FFFFFF">
      <div class="mdc-typography--title flexbox flexbox--center" style="padding: 1rem 0 0">Admin</div>

      <div class="flexbox flexbox--column <%= style.signInForm %>">
        <div class="mdc-text-field">
          <input type="text" id="admin-email" class="mdc-text-field__input" value="web.go@gmail.com" style="width: 100%">
          <label class="mdc-text-field__label" for="admin-email">Email</label>
        </div>
        <div class="mdc-text-field">
          <input type="password" id="admin-password" class="mdc-text-field__input" value="123456" style="width: 100%">
          <label class="mdc-text-field__label" for="admin-password">Password</label>
        </div>
        <br>
        <button type="button" aria-label="Sign In" id="admin-sign-in" class="mdc-button mdc-button--raised">
          <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
          Sign in
        </button>
      </div>
    </div>
  </section>

  <section data-sign-in>
    <div id="users" data-admin>
      <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-linear-progress--accent" style="margin: 64px 0">
        <div class="mdc-linear-progress__buffering-dots"></div>
        <div class="mdc-linear-progress__buffer"></div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
          <span class="mdc-linear-progress__bar-inner"></span>
        </div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
          <span class="mdc-linear-progress__bar-inner"></span>
        </div>
      </div>
    </div>
  </section>
</div>

<aside id="login-toast" class="mdc-snackbar">
  <div class="mdc-snackbar__text"></div>
  <div class="mdc-snackbar__action-wrapper">
    <button type="button" aria-label="Undo" class="mdc-button mdc-snackbar__action-button"></button>
  </div>
</aside>
