.container {
  margin: 1rem auto;
  position: relative;
}

.circle {
  transform: rotate(-90deg);
}

.background {
  fill: none;
  stroke: rgba(255, 255, 255, .5);
}

.progress {
  fill: none;
  stroke: #000;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s ease-in-out;
}

.text {
  left: 0;
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
}

.title {
  left: 0;
  position: absolute;
  text-align: center;
  top: -15%;
  width: 100%;
}
