:root {
  --outside: 20%;

  --circle: {
    fill: none;
    stroke-width: 2.2;
  };

  --text: {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  };
}

.container {
  margin: 1rem auto var(--outside);
  position: relative;
}

.circle {
  transform: rotate(-90deg);
}

.background {
  @apply --circle;
  stroke: rgba(255, 255, 255, .5);
}

.progress {
  @apply --circle;
  stroke-dasharray: 100 100;
  stroke-linecap: round;
}

.percentage {
  @apply --text;
  top: 45%;
}

.title {
  @apply --text;
  bottom: -var(--outside);
}
